.user-page{
    width: 100%;
    position: relative;
    background-color: #36AFD4;
    height: 100vh;
    z-index: 100;
    
    flex-grow: 1;

    overflow-y: auto;
    



    .black-screen-profile{
        background-color: rgba(0, 0, 0, 0.301);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
    }
}

